<form>
  <div class="form-group">
    <label for="firstName" class="form-control">FirstName</label>
    <input
      type="text"
      id="firstName"
      class="form-control"
      ngModel
      name="firstName"
      #firstName="ngModel"
      (change)="log(firstName)"
    />
    <div class="form-control"></div>
  </div>
  <div class="form-group">
    <label for="comment" class="form-control">comments</label>
    <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Save</button>
</form>
