<!-- <favorite
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"
></favorite>
<titlecase></titlecase> -->
<!-- twitter -->
<!-- <app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></app-like> -->
<!-- <app-zippy title="shipping Details">Shipping Details Content</app-zippy> -->

<!-- <app-contact-form></app-contact-form> -->
<!-- <app-udemy-courses-form></app-udemy-courses-form> -->
<!-- <signup-form></signup-form> -->
<!-- <app-udemy-topics-courses></app-udemy-topics-courses> -->
<app-change-password-component></app-change-password-component>
